* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.hero {
    background-image: url('./assets/HeroBackground.jpeg');
}

.scroll-txt {
    animation: float 5s ease-in-out infinite;
}

.playbook-card {
    box-shadow: 0 0 10px 2px rgba(184, 255, 51, 0.5);
}

/* .growth {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.8)  
    ), url('./assets/DotsBg.svg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} */


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
